<div class="container">

    <!--#1 card-->
    <div class="card my-5">

        <!--Liston rojo-->
        <div class="ribbon-wrapper">
            <div class="ribbon-front">
                Proyecto del día
            </div>
            <div class="ribbon-edge-topleft"></div>
            <div class="ribbon-edge-topright"></div>
            <div class="ribbon-edge-bottomleft"></div>
            <div class="ribbon-edge-bottomright"></div>
            <div class="ribbon-back-left"></div>
            <div class="ribbon-back-right"></div>
        </div>
        <!--Fin liston-->

       
        <ng-container *ngFor="let proyecto of proyectos">
            <div class="row align-items-center my-5" *ngIf="proyecto.title == 'The Transphobia Project'">

                <!--Imagen izq-->
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0 ml-5" src="{{proyecto.image.imageURL}}" alt="">
                </div>

                <!--Card desc-->
                <div class="col-lg-4">
                    <h4 class="display-8"><a routerLink="/project/{{proyecto._id}}">{{proyecto.title}}</a></h4>
                    
                        <p>{{proyecto.short_desc}}</p>

                        <br />
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width':proyecto.percentage+'%'}" aria-valuenow="20"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>{{proyecto.percentage}}% funded</p>
                </div>
                <!--Fin desc-->

            </div>


            <!--Card Footer-->
            <div class="card-footer text-muted mt-4" *ngIf="proyecto.title == 'The Transphobia Project'" style="background: #f7f8fa">
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="row ">
                            <div class="col text-center">
                                <h5 class="mt-0 mb-0">$50,000</h5>
                                <p class="mt-0 mb-0">Contribuidos</p>
                            </div>
                            <div class="col text-center">
                                <h5 class="mt-0 mb-0">{{proyecto.sponsors.length}}</h5>
                                <p class="mt-0 mb-0">Dashers</p>
                            </div>
                            <div class="col text-center">
                                <p class="mt-0 mb-0">Acaba el</p>
                                <h5 class="mt-0 mb-0">{{proyecto.end_date |date: 'EEEE, MMM d'}}</h5>
                            </div>
                            <div class="col text-center">
                                <p class="mt-0 mb-0">Meta</p>
                                <h5 class="mt-0 mb-0">${{proyecto.monetary_goal}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin footer-->
        </ng-container>
    </div>
    <!--Fin #1 card-->

    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">“La creatividad requiere tener el valor de desprenderse de las certezas” - Erich Fromm.</p>
        </div>
    </div>

</div>

<!--Espacio que encierra los proyectos-->
<div class=" light-blue mt-3 pt-5 pb-5">
    <div class="container-fluid inner">

        <!--Titulo de barra y btn ver más-->
        <div class="row">
            <div class="col-8">
                <h3>Populares</h3>
            </div>
            <div class="text-right col-4">
                <!--text-right para mandar a la derecha-->
                <a routerLink="/category/Arte" class="btn btn-secondary">Ver más</a>
            </div>
        </div>
        <!--Fin titulo y ver más-->


        <!--*ngIf="proyecto.rating == 5", no olvidar añadir en el div debajo de <!-Card->,
        esto para mostrar solo populares.-->
        <div class="row">
            <!--Slice:0:4 y let i index para que solo se muestren los 4 primeros xD-->
            <ng-container *ngFor="let proyecto of proyectos | slice:0:4; let i=index" >
                <!--Card-->
                <div class="col-md-4 col-lg-3 mb-5 my-2">
                    <div class="card h-100" style="width: 17rem;">
                        <!--style="width: 18rem;" para que quepa todo-->
                        <img class="card-img-top" src="{{proyecto.image.imageURL}}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title"><a routerLink="/project/{{proyecto._id}}">{{proyecto.title}}</a></h6>
                            
                            <p class="card-text">{{proyecto.short_desc}}</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width':proyecto.percentage+'%'}" aria-valuenow="40"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="mb-1">{{proyecto.percentage}}% patrocinado</p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            <h6 class="mt-0 mb-0"><strong>{{proyecto.sponsors.length}}</strong></h6>
                                            <p class="mt-0 mb-0">Dashers</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p class="mt-0 mb-0">Meta</p>
                                            <h6 class="mt-0 mb-0"><strong>${{proyecto.monetary_goal}}</strong></h6>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p class="mt-0 mb-0">Acaba&nbsp;el</p>
                                            <h6 class="mt-0 mb-0"><strong>{{proyecto.end_date | date: 'EEEE, MMM d'}}</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Card-->
            </ng-container>
        </div>
    </div>
</div>
<!--Fin espacio-->

<!--Espacio: Añadidos rec-->
<div class="mt-5">
    <div class="container-fluid inner">

        <!--Titulo de barra y btn ver más-->
        <div class="row">
            <div class="col-8">
                <h3>Añadidos recientemente</h3>
            </div>
            <div class="text-right col-4">
                <!--text-right para mandar a la derecha-->
                <a routerLink="/category/Arte" class="btn btn-secondary">Ver más</a>
            </div>
        </div>
        <!--Fin titulo y ver más-->


        <!--*ngIf="proyecto.rating == 5", no olvidar añadir en el div debajo de <!-Card->,
            esto para mostrar solo populares.-->
        <div class="row">
            <ng-container *ngFor="let proyecto of proyectos  | slice:0:4; let i=index">
                <!--Card-->
                <div class="col-md-4 col-lg-3 mb-5 my-2">
                    <div class="card h-100" style="width: 17rem;">
                        <!--style="width: 18rem;" para que quepa todo-->
                        <img class="card-img-top" src="{{proyecto.image.imageURL}}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title"><a routerLink="/project/{{proyecto._id}}">{{proyecto.title}}</a></h6>
                            <p class="text-muted">Por <strong><a routerLink="/project/{{proyecto._id}}"
                                        class="text-muted">{{proyecto.autor}}</a></strong>
                            </p>
                            <p class="card-text">{{proyecto.short_desc}}</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width':proyecto.percentage+'%'}" aria-valuenow="76"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <p class="mb-1">{{proyecto.percentage}}% patrocinado</p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            <h6 class="mt-0 mb-0"><strong>{{proyecto.sponsors.length}}</strong></h6>
                                            <p class="mt-0 mb-0">Dashers</p>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p class="mt-0 mb-0">Meta</p>
                                            <h6 class="mt-0 mb-0"><strong>${{proyecto.monetary_goal}}</strong></h6>
                                        </div>
                                        <div class="col-4 text-center">
                                            <p class="mt-0 mb-0">Acaba&nbsp;el</p>
                                            <h6 class="mt-0 mb-0"><strong>{{proyecto.end_date| date: 'EEEE, MMM d'}}</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin Card-->
            </ng-container>
        </div>
    </div>
</div>
<!--Fin espacio-->


<!--Extras-->
<div class=" light-blue  mt-5 pt-5 pb-5">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-sm-10 offset-sm-1">
                        <h3 class="display-6 text-center">¿Cómo funciona?</h3>
                        <p class="text-center text-muted">Access your data anywhere from any device</p>
                    </div>
                </div>

                <div class="row mt-3">

                    <div class="col-5  offset-1">
                        <p>Access your data from absolutely anywhere and on any device your phone, ipad, laptop.
                            Lorem
                            ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>

                    <div class="col-5  offset-1">
                        <p>Create your own graphs and visualizztions to you can capture trends immediately. Donec
                            nec
                            tortor lorem. Integer nulla quam, convallis ut consectetur vel, dignissim et ex.</p>
                    </div>

                    <div class="col-5  offset-1">
                        <p>Ideal for shop owners selling over 100 products a day. We make sure you find our what
                            your
                            best products are, what products you could sell.</p>
                    </div>

                    <div class="col-5  offset-1">
                        <p> Nam porttitor quam pellentesque, mollis arcu tincidunt, faucibus tellus. Fusce nec sem
                            ut
                            risus auctor iaculis id a libero. </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 pt-2 pb-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="card ">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="card-title">Permitimos el apoyo a grandes proyectos</h4>
                                <p class="card-text">Crea tu propio proyecto ahora mismo, obten el apoyo de
                                    distintas personas y has tu sueño realidad.
                                </p>
                            </div>
                            <div class="col-sm-4 text-center">
                                <br />
                                <a routerLink="/start_project" class="btn btn-primary btn-lg">Inicia un proyecto<i
                                        class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>