<div class="col-sm-12">
    <h1>Empecemos</h1>
    <p>Haz una buena primera impresión con el título y la imagen de tu proyecto,
        establece la meta de finaciamiento, la duración de la campaña y la categoría del proyecto.</p>

    <form>
        <!--Imagen-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Imagen de proyecto</label>
            <p class="form-text text-muted">
                Esto es la primera cosa que las personas veran cuando se crucen con tu proyecto. Escoge una imagen
                nítida y sin texto.
            </p>
            <p class="form-control-static">
            </p>
            <div style="border: 1px dashed #000; background: #fff; width: 100%; display: block; padding: 20px;"
                class="text-center">
                <p class="text-center">
                    <a href="http://templates.expresspixel.com/bootstrap-crowdfunding/edit.html"><strong>Escoge una
                            imagen desde tu computadora.
                        </strong></a>
                </p>
                <p>Esta es la imagen principal relacionada con tu proyecto. ¡Elige la más genial!</p>
                <p>La imagen como mínimo debe tener <strong>1024x576 pixeles</strong> • 16:9 aspect ratio</p>
            </div>
            <p></p>
            <p class="form-text text-muted">
                JPEG, PNG, GIF, or BMP • Límite de 5MB por imagen
            </p>
        </div>
        <!--Fin imagen-->

        <!--Titulo-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Título del proyecto</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Titulo">
            <p class="form-text text-muted">
                Escribe un título claro y conciso que ayude a las personas a comprender rápidamente la esencia de tu
                proyecto.
            </p>
        </div>
        <!--Fin titulo-->

        <!--Descripción corta-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Descripción corta</label>
            <textarea class="form-control form-control-lg" rows="3"></textarea>
            <p id="passwordHelpBlock" class="form-text text-muted">
                Ofrece una pequeña descripción de lo que estás haciendo.
            </p>
        </div>
        <!--Fin descripcion corta-->

        <!--Categoria y sub-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Categoría</label>
            <div class="row">
                <div class="col-6">
                    <select class="form-control custom-select">

                        <option value="1">Arte</option>

                        <option value="1">Comics</option>

                        <option value="1">Hazlo tu mismo</option>

                        <option value="1">Baile</option>

                        <option value="1">Diseño</option>

                        <option value="1">Moda</option>

                        <option value="1">Peliculas &amp; Video</option>

                        <option value="1">Comida</option>

                        <option value="1">Juegos</option>

                        <option value="1">Periodismo</option>

                        <option value="1">Musica</option>

                        <option value="1">Fotografía</option>

                        <option value="1">Publicaciones</option>

                        <option value="1">Tecnología</option>

                        <option value="1">Teatro</option>

                    </select>
                </div>
                <div class="col-6">
                    <select class="form-control custom-select">

                        <option value="1">Arte</option>

                        <option value="1">Comics</option>

                        <option value="1">Hazlo tu mismo</option>

                        <option value="1">Baile</option>

                        <option value="1">Diseño</option>

                        <option value="1">Moda</option>

                        <option value="1">Peliculas &amp; Video</option>

                        <option value="1">Comida</option>

                        <option value="1">Juegos</option>

                        <option value="1">Periodismo</option>

                        <option value="1">Musica</option>

                        <option value="1">Fotografía</option>

                        <option value="1">Publicaciones</option>

                        <option value="1">Tecnología</option>

                        <option value="1">Teatro</option>

                    </select>
                </div>
            </div>
        </div>
        <!--Fin categoria y sub-->

        <!--Pais de proyecto-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Ubicación del proyecto</label>
            <div class="input-group  input-group-lg">
                <input type="text" class="form-control" placeholder="Empieza a escribir tu ubicación...">
            </div>
        </div>
        <!--Fin pais-->

        <!--Duracion-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Duración de la campaña</label>
            <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">días</span>
            </div>
            <p id="passwordHelpBlock" class="form-text text-muted">
                Define un límite de tiempo para tu campaña. No podrás cambiarlo después de la publicación.
            </p>
        </div>
        <!--Fin duracion-->

        <!--Meta-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Meta</label>
            <div class="input-group  col-4 pl-0">
                <input type="text" class="form-control form-control-lg" placeholder="" value="0"
                    aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">$</span>
            </div>
            <p id="passwordHelpBlock" class="form-text text-muted">
                Define una meta alcanzable que cubra lo que necesitas para completar tu proyecto.
                El financiamiento es todo o nada. Si no cumples tu meta, no recibirás ninguna contribución.
            </p>
        </div>
        <!--Fin meta-->


    </form>
    <br>
    <br>
    <br>

</div>