<div class="col-sm-12">
    <h1>Empecemos</h1>
    <p>Haz una buena primera impresión con el título y la imagen de tu proyecto,
        establece la meta de finaciamiento, la duración de la campaña y la categoría del proyecto.</p>

    <form>
        <!--Imagen-->
        <div class="form-group light-blue">
            <label for="exampleInputEmail1">Imagen de proyecto</label>
            <p class="form-text text-muted">
                Esto es la primera cosa que las personas veran cuando se crucen con tu proyecto. Escoge una imagen
                nítida y sin texto.
            </p>
            <p class="form-control-static">
            </p>
            <div style="border: 1px dashed #000; background: #fff; width: 100%; display: block; padding: 20px;"
                class="text-center">
                <p class="text-center">
                    <a href="http://templates.expresspixel.com/bootstrap-crowdfunding/edit.html"><strong>Escoge una
                            imagen desde tu computadora.
                        </strong></a>
                </p>
                <p>Esta es la imagen principal relacionada con tu proyecto. ¡Elige la más genial!</p>
                <p>La imagen como mínimo debe tener <strong>1024x576 pixeles</strong> • 16:9 aspect ratio</p>
            </div>
            <p></p>
            <p class="form-text text-muted">
                JPEG, PNG, GIF, or BMP • Límite de 5MB por imagen
            </p>
        </div>
        <!--Fin imagen-->

        <!--Titulo-->
        <div class="form-group light-blue">
            <label for="projectTitle">Título del proyecto</label>
            <input type="text" #projectTitle="ngModel" name="projectTitle" 
            class="form-control form-control-lg" placeholder="Titulo" pattern="[a-zA-Z0-9\s]+" ngModel>
            <p class="form-text text-muted">
                Escribe un título claro y conciso que ayude a las personas a comprender rápidamente la esencia de tu
                proyecto.
            </p>
        </div>
        
        <div class="alert alert-danger" role="alert" *ngIf="projectTitle.touched && !projectTitle.valid">
            <div *ngIf="!projectTitle.valid">No se permiten caracteres especiales como /, -, $, !, etc.</div>
        </div>

        
        <!--Fin titulo-->

        <!--Descripción corta-->
        <div class="form-group light-blue">
            <label for="projectSdesc">Descripción corta</label>
            <textarea #projectSdesc="ngModel" name="projectSdesc" class="form-control form-control-lg" 
                rows="3" pattern="[a-zA-Z0-9\s]+" ngModel></textarea>
            <p id="projectSdesc" class="form-text text-muted">
                Ofrece una pequeña descripción de lo que estás haciendo.
            </p>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="projectSdesc.touched && !projectSdesc.valid">
                <div *ngIf="!projectSdesc.valid">No se permiten caracteres especiales como /, -, $, !, etc.</div>
        </div>
        <!--Fin descripcion corta-->

        <!--Categoria y sub-->
        <div class="form-group light-blue">
            <label for="categorySelectBox">Categoría</label>
            <div class="row">
                <div class="col-6">
                    <select name="category" id="categorySelectBox" class="form-control custom-select" ngModel>

                        <option value="1">Arte</option>

                        <option value="1">Comics</option>

                        <option value="1">Hazlo tu mismo</option>

                        <option value="1">Baile</option>

                        <option value="1">Diseño</option>

                        <option value="1">Moda</option>

                        <option value="1">Peliculas &amp; Video</option>

                        <option value="1">Comida</option>

                        <option value="1">Juegos</option>

                        <option value="1">Periodismo</option>

                        <option value="1">Musica</option>

                        <option value="1">Fotografía</option>

                        <option value="1">Publicaciones</option>

                        <option value="1">Tecnología</option>

                        <option value="1">Teatro</option>

                    </select>
                </div>
            </div>
        </div>
        <!--Fin categoria y sub-->

        <!--Pais de proyecto-->
        <div class="form-group light-blue">
            <label for="projectUbication">Ubicación del proyecto</label>
            <div class="input-group  input-group-lg">
                <input type="text" #projectUbication="ngModel" name="projectUbication" class="form-control"
                    placeholder="Empieza a escribir tu ubicación..." pattern="[a-zA-Z\s,]+" ngModel>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="projectUbication.touched && !projectUbication.valid">
            <div *ngIf="!projectUbication.valid">No se permiten caracteres especiales como /, -, $, !, etc. ,
                ni números.
            </div>
        </div>
        <!--Fin pais-->

        <!--Duracion-->
        <div class="form-group light-blue">
            <label for="projectDuration">Duración de la campaña</label>
            <div class="input-group">
                <input type="text" #projectDuration="ngModel" name="projectDuration" class="form-control form-control-lg"
                    placeholder="" pattern="[0-9]+" ngModel>
                <span class="input-group-addon" id="projectDuration">días</span>
            </div>
            <p id="projectDuration" class="form-text text-muted">
                Define un límite de tiempo para tu campaña. No podrás cambiarlo después de la publicación.
            </p>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="projectDuration.touched && !projectDuration.valid">
            <div *ngIf="!projectDuration.valid">Sólo se permite el ingreso de números, no letras ni espacios.
            </div>
        </div>
        <!--Fin duracion-->

        <!--Meta-->
        <div class="form-group light-blue">
            <label for="projectGoal">Meta</label>
            <div class="input-group  col-4 pl-0">
                <input type="text" #projectGoal="ngModel" name="projectGoal" class="form-control form-control-lg" placeholder=""
                    value="0" pattern="[0-9]+" ngModel>
                <span class="input-group-addon" id="projectGoal">$</span>
            </div>
            <p id="projectGoal" class="form-text text-muted">
                Define una meta alcanzable que cubra lo que necesitas para completar tu proyecto.
                El financiamiento es todo o nada. Si no cumples tu meta, no recibirás ninguna contribución.
            </p>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="projectGoal.touched && !projectGoal.valid">
            <div *ngIf="!projectGoal.valid">Sólo se permite el ingreso de números, no letras ni espacios.</div>
        </div>
        <!--Fin meta-->


    </form>
    <br>
    <br>
    <br>

</div>