<!--Register pop-up-->
<div class="modal fade signup-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent; border: none;">

            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-11 col-sm-12">
                                <h4 style="color: #fff; font-weight: 100;">Registrarse</h4>
                                <a href="#" data-dismiss="modal" style="position: absolute; top: 0; right: 0;"><i
                                        class="icon-close icons" aria-hidden="true"
                                        style="color: #fff; font-size: 26px"></i></a>

                                <div class="card  mt-3" style="background: #fff; padding: 10px">
                                    <h6 style="color: #000">¿Nuevo en StartDash?</h6>
                                    <p>Necesitas crear una cuenta para acceder a nuestros servicios.</p>

                                    <form #formRegister="ngForm" (ngSubmit)="onRegister(formRegister)">

                                        <!--Formulario vacío o dato erroneo-->
                                        <div class="alert alert-danger" role="alert" *ngIf="isError">
                                            Datos incorrectos o faltan llenar espacios.
                                        </div>

                                        <!--Email ya registrado en la db-->
                                        <div class="alert alert-danger" role="alert" *ngIf="isEmailError">
                                            Email ya existe.
                                        </div>

                                        <!--Validacion email-->
                                        <div class="form-group">
                                            <input type="email" #userEmail="ngModel" name="userEmail" class="form-control"
                                                placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                ngModel required>
                                        </div>

                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="userEmail.touched && !userEmail.valid">
                                            <div *ngIf="userEmail.errors.required">El campo email es obligatorio.</div>
                                            <div *ngIf="!userEmail.valid">Ingresa un email correcto.</div>
                                        </div>
                                        <!--Fin email-->


                                        <!-- pattern="[a-zA-Z\s]" para que acepte solo letras mayus, minus y espacio -->
                                        <!--Validacion nombre-->
                                        <div class="form-group">
                                            <input type="text" #userFirstName="ngModel" name="userFirstName"
                                                class="form-control" placeholder="Nombres" pattern="[a-zA-Z\s]+" ngModel required>
                                        </div>

                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="userFirstName.touched && !userFirstName.valid">
                                            <div *ngIf="userFirstName.errors.required">El campo nombre es obligatorio.</div>
                                            <div *ngIf="!userFirstName.valid">Ingresa un nombre correcto.</div>
                                        </div>
                                        <!--Fin validacion nombre-->

                                        <!--Validacion apellido-->
                                        <div class="form-group">
                                            <input type="text" #userLastName="ngModel" name="userLastName" class="form-control"
                                                placeholder="Apellido paterno" pattern="[a-zA-Z\s]+" ngModel required>
                                        </div>

                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="userLastName.touched && !userLastName.valid">
                                            <div *ngIf="userLastName.errors.required">El campo apellido paterno es obligatorio.</div>
                                            <div *ngIf="!userLastName.valid">Ingresa un apellido paterno correcto.</div>
                                        </div>
                                        <!--Fin validacion apellido-->

                                        <div class="form-group">
                                            <input type="text" #userSurName="ngModel" name="userSurName" class="form-control"
                                                placeholder="Apellido materno" pattern="[a-zA-Z\s]+" ngModel required>
                                        </div>
    
                                        <div class="alert alert-danger" role="alert"
                                                *ngIf="userSurName.touched && !userSurName.valid">
                                            <div *ngIf="userSurName.errors.required">El campo apellido materno es obligatorio.</div>
                                            <div *ngIf="!userSurName.valid">Ingresa un apellido materno correcto.</div>
                                        </div>

                                        <!--Contraseña min max longitud-->
                                        <div class="form-group">
                                            <input type="password" #userPassword="ngModel" name="userPassword" class="form-control"
                                                placeholder="Contraseña" ngModel required
                                                minlength="5" maxlength="20">
                                        </div>

                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="userPassword.touched && !userPassword.valid">
                                            <div *ngIf="userPassword.errors.required">El campo contraseña es obligatorio.</div>
                                            <div *ngIf="userPassword.errors.minlength">La contraseña debe tener como mínimo 5 caracteres.</div>
                                        </div>
                                        <!--Fin min max contraseña-->

                                        <div class="text-center">
                                            <br /><br />
                                            <p>Al presionar el botón "Crear cuenta", aceptas nuestros términos y
                                                condiciones.</p>
                                        </div>

                                        <button type="submit" class="btn btn-lg btn-primary btn-block" >Registrar</button>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>