<div class="container inner my-4">
    <div class="row">
        <div class="col-sm-12 my-3">
            <h1>{{user_data.firstName + " " + user_data.lastName}}</h1>
            <hr>
        </div>
    </div>

    <div class="row">

        <!--Fila izquierda info-->
        <div class="col-sm-3 my-4">
            
            <!--Imagen usuario-->
            <div class="text-center">
                <img src="{{user_data.imageProfile}}"
                    class="avatar img-fluid rounded-circle img-thumbnail" alt="avatar">
            </div>
            <!--Fin imagen-->

            <ul class="list-group my-4">
                <li class="list-group-item text-muted">Actividad<i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Patrocinado
                    <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Creado
                    
                <span class="badge badge-primary badge-pill">{{user_projects.length}}</span>
                    
                    
                    
                </li>
            </ul>

            <small><a routerLink="/config">Configurar perfil</a></small>

        </div>
        <!--Fin fila izq info-->

        <div class="col-sm-9">
            
            <!--Tabs navegacion-->
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-acercade-tab" data-toggle="pill" href="#pills-acercade"
                        role="tab" aria-controls="pills-acercade" aria-selected="true">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-patrocinado-tab" data-toggle="pill" href="#pills-patrocinado"
                        role="tab" aria-controls="pills-patrocinado" aria-selected="false">Patrocinado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-creado-tab" data-toggle="pill" href="#pills-creado" role="tab"
                        aria-controls="pills-creado" aria-selected="false">Creado</a>
                </li>
            </ul>
            <!--Fin navegacion-->

            <!--Contenido de tabs-->
            <div class="tab-content" id="pills-tabContent">

                <!--Tab acerca de-->
                <div class="tab-pane fade show active" id="pills-acercade" role="tabpanel"
                    aria-labelledby="pills-acercade-tab">
                    <h5 class="mb-3 text-center">Patrocinó {{user_projects.length}} proyectos · Lima, Perú · Participa desde abr 2011</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Biografía</h6>
                            <p>
                                {{user_data.biography}}
                                <!--Founder of Glass Bottom Games, making SkateBIRD. Previous games include: Spartan Fist,
                                Hot Tin Roof, Jones On Fire, and LEGO Universe.-->
                            </p>
                            <h6>Sitio web</h6>
                            <p>
                                {{user_data.email}}
                                <!--<a href="">www.mysite.com</a>-->
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h6>Intereses</h6>
                            <a href="#" class="badge badge-dark badge-pill">Musica</a><br>
                            <a href="#" class="badge badge-dark badge-pill">Juegos</a><br>
                            <a href="#" class="badge badge-dark badge-pill">Arte</a><br>
                            <a href="#" class="badge badge-dark badge-pill">Cocina</a><br>
                        </div>
                        <div class="col-md-12">
                            <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span>Redes Sociales
                            </h5><br>
                            <h6>Facebook: </h6>
                            <h6>Twitter: </h6>
                            <h6>Email: </h6>
                        </div>
                    </div>
                </div>
                <!--Fin tab acerca de-->

                <!--Tab patrocinados-->
                <div class="tab-pane fade" id="pills-patrocinado" role="tabpanel"
                    aria-labelledby="pills-patrocinado-tab">

                    <!--Card mis patrocinios-->
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <img class="card-img-right flex-auto d-none d-lg-block" src="//placehold.it/200"
                            alt="Card image cap">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-success">Categoría</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">Titulo proyecto</a>
                            </h3>

                            <p class="card-text mb-auto my-2">This is a wider card with supporting text below as a
                                natural
                                lead-in to additional content.</p>
                            <small class="text-muted">Patrocinado el </small>
                        </div>
                        <!--Si la pones acá, se pone a la izquierda jaja-->
                    </div>
                    <!--Fin mis patrocinios-->
                </div>
                <!--Fin patrocinados-->

                <!--Tab creados-->
                <div class="tab-pane fade" id="pills-creado" role="tabpanel" aria-labelledby="pills-creado-tab">
                    
                    <!--Usando la data de los proyectos (user_projects) de usuario según token. -->
                    <ng-container *ngFor ="let proyecto of user_projects">
                    
                    <!--Card proyectos creados-->
                    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                        <img class="card-img-right flex-auto d-none d-lg-block" src="{{proyecto.image.imageURL}}"
                            alt="Card image cap" height="200" width="200">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-success">{{proyecto.category}}</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" routerLink="/project/{{proyecto._id}}">{{proyecto.title}}</a>
                            </h3>

                            <p class="card-text mb-auto my-2">{{proyecto.short_desc}}</p>
                            <small class="text-muted">Iniciado el {{proyecto.start_date | date:'short'}}</small>
                            <a routerLink="/end_project/{{proyecto._id}}">Editar</a> 
                        </div>
                        <!--Si la pones acá, se pone a la izquierda jaja-->
                    </div>
                    <!--Fin proyectos creados-->
                    </ng-container>

                </div>
                <!--Fin creados-->

            </div>
            <!--Fin contenido tabs-->

        </div>

    </div>

</div>