<div class="col-sm-12">
    <h1>Presenta tu proyecto</h1>
    <p>Cuéntale a las personas por qué deberían entusiasmarse con tu proyecto. Sé específico, y a la vez claro y
        conciso.</p>

    <form>

        <!--Video-->
        <div class="form-group light-blue">
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Video del proyecto (opcional)</label>
                <div class="col-9">
                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enlace a video">
                    <br>
                    <p>Agrega un video que describa tu proyecto.
                        Cuéntale a las personas cómo se van a emplear los fondos recaudados, cómo planeas llevarlo a
                        cabo, quién eres y por qué este proyecto es importante para ti.
                    </p>
                </div>
            </div>
        </div>
        <!--Fin video-->

        <!--Descripcion larga-->
        <div class="form-group light-blue">

            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Descripción del proyecto</label>
                <div class="col-9">
                    <p class="mt-1">Describe cómo se van a emplear los fondos recaudados, por qué este proyecto es
                        importante para ti, cómo planeas llevarlo a cabo y quién eres. Tu descripción debe transmitirle
                        a los patrocinadores todo lo que necesitan saber. Si es posible, incluye imágenes para
                        mostrarles de qué se trata tu proyecto y cómo son las recompensas.</p>
                    <textarea rows="11" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <!--Fin descripcion larga-->

        <!--Riesgos y desafios-->
        <div class="form-group light-blue">

            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Riesgos y desafíos</label>
                <div class="col-9">
                    <p class="mt-1">Sé honesto acerca de los posibles riesgos y desafíos del proyecto y cómo planeas
                        superarlos para completarlo.</p>
                    <textarea rows="7" class="form-control"></textarea>
                    <p class="mt1 my-2">Algunos de los riesgos y desafíos comunes que quizás desees abordar son el
                        presupuesto, los plazos para las recompensas y para el proyecto en sí, el tamaño de tu
                        audiencia...</p>
                </div>
            </div>
        </div>
        <!--Fin riesgos y desafios-->

    </form>
</div>