<nav class="navbar navbar-toggleable-sm navbar-light bg-primary fixed-top" id="navbar">
  <div class="container top-nav" v-if="!search">

    <a class="navbar-brand" routerLink="/">StartDash</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/start_project">Inicia un proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Preguntas frecuentes</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item hidden-sm-down">
          <a class="nav-link" href="#" v-on:click.prevent="showSearchBar"><i class="fa fa-search"
              aria-hidden="true"></i></a>
        </li>
        <li class="nav-item hidden-sm-up">
          <a class="nav-link" href="#" v-on:click.prevent="showSearchBar">Busca</a>
        </li>
        <li class="nav-item">
          <!--Si hay un token, entonces esto cambia-->
          <a class="nav-link" href="#" data-toggle="modal" data-target=".login-modal-lg" *ngIf="!authService.isloggedin">Login</a>
          <a class="nav-link" routerLink="/profile/{{authService.getToken()}}" data-toggle="modal" *ngIf="authService.isloggedin">{{usuario}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target=".signup-modal-lg" *ngIf="!authService.isloggedin">Registrate</a>
          <a class="nav-link" (click)="authService.logout()" data-toggle="modal" *ngIf="authService.isloggedin">Logout</a>
          <!--Fin cambios token-->
        </li>
      </ul>
      <form class="form-inline" style="display: none">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
