<div class="container-fluid my-5">
    <h3>Nuevo proyecto de Usuario</h3>
    <!--{{proyecto.autor}}-->
    <p class="lead">Da a conocer tu idea al mundo.</p>
    <hr>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-basico-tab" data-toggle="pill" href="#v-pills-basico" role="tab"
                    aria-controls="v-pills-basico" aria-selected="true">
                    <h3>Básico</h3>
                </a>
                <a class="nav-link" id="v-pills-historia-tab" data-toggle="pill" href="#v-pills-historia" role="tab"
                    aria-controls="v-pills-historia" aria-selected="false">
                    <h3>Historia</h3>
                </a>
                <a class="nav-link" id="v-pills-recompensas-tab" data-toggle="pill" href="#v-pills-recompensas"
                    role="tab" aria-controls="v-pills-recompensas" aria-selected="false">
                    <h3>Recompensas</h3>
                </a>
                <a class="nav-link" id="v-pills-acercade-tab" data-toggle="pill" href="#v-pills-acercade" role="tab"
                    aria-controls="v-pills-acercade" aria-selected="false">
                    <h3>Acerca de tí</h3>
                </a>
                <a class="nav-link" id="v-pills-cuentaban-tab" data-toggle="pill" href="#v-pills-cuentaban" role="tab"
                    aria-controls="v-pills-cuentaban" aria-selected="false">
                    <h3>Cuenta</h3>
                </a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-basico" role="tabpanel"
                    aria-labelledby="v-pills-basico-tab">
                    <app-stepone></app-stepone>
                </div>
                <div class="tab-pane fade" id="v-pills-historia" role="tabpanel" aria-labelledby="v-pills-historia-tab">
                    <app-steptwo></app-steptwo>
                </div>
                <div class="tab-pane fade" id="v-pills-recompensas" role="tabpanel"
                    aria-labelledby="v-pills-recompensas-tab">
                    <app-stepthree></app-stepthree>
                </div>
                <div class="tab-pane fade" id="v-pills-acercade" role="tabpanel" aria-labelledby="v-pills-acercade-tab">
                    <app-stepfour></app-stepfour>
                </div>
                <div class="tab-pane fade" id="v-pills-cuentaban" role="tabpanel"
                    aria-labelledby="v-pills-cuentaban-tab">
                    <app-stepfive></app-stepfive>
                </div>
            </div>
        </div>
    </div>
</div>