<div class="container inner my-5">
    <div class="row">
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">

                        <!--Avatar de usuario (el que visualiza)-->
                        <div class="col-sm-2">
                            <div class="avatar-me-wrapper"><span class="avatar-me"><img class="img-fluid" src="{{user_data.imageProfile}}"
                                class="img-fluid" /></span></div>
                        </div>
                        <!--Fin avatar-->

                        <!--Primera parte de info proyecto-->
                        <div class="col-sm-10">
                            <h3>{{proyecto.title}}</h3>
                            <br />
                            <p class="mb-1">{{proyecto.percentage}}% patrocinado</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width':proyecto.percentage+'%'}" aria-valuenow="29"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <!--<h3>${{proyecto.din_actual}}</h3>-->
                                    <p class="mb-1">patrocinado por {{proyecto.sponsors.length}} personas</p>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <h3>${{proyecto.monetary_goal}}</h3>
                                    <p class="mb-1">Meta de financiación</p>
                                </div>
                            </div>
                            <br />
                            <br />

                            <iframe width="100%" height="350" src="https://www.youtube.com/embed/PkwX3G_WRF8"
                                frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!--Fin primera parte-->
                    </div>

                    <br />
                    <br />

                    <!--Overview-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Resumen</a>
                                </li>

                               

                            </ul>
                        </div>
                    </div>
                    <!--Fin overview-->


                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="https://unsplash.it/310/210?image=1"
                                    class="img-fluid" />
                        </div>
                        <div class="col-md-8">
                            <p>{{proyecto.short_desc}}</p>
                        </div>
                    </div>

                    <br />
                    <br />

                    <!--Tablist (Lista pestañas - story, updates, extra )-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" active href="#home" role="tab">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#extra" role="tab">Riesgos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#backers" role="tab">Dashers ({{proyecto.sponsors.length}})</a>
                        </li>
                    </ul>
                    <!--Fin tabList-->

                    <br />
                    <br />

                    <!-- Contenido pestañas-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <!--<p><strong>I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly
                                    away from your feelings? I don't care if it takes from now till the end of
                                    Shrimpfest.</strong></p>

                            <h6><strong>Lorem Ipsum is not a major key to success. </strong></h6>
                            <p>I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Fan luv.
                                Always remember in the jungle there’s a lot of they in there, after you overcome they,
                                you will make it to paradise. Watch your back, but more importantly when you get out the
                                shower, dry your back, it’s a cold world out there. Every chance I get, I water the
                                plants, Lion! You see that bamboo behind me though, you see that bamboo? Ain’t nothin’
                                like bamboo. Bless up.</p>

                            <h6><strong>Hammock talk come soon. </strong></h6>
                            <p>Hammock talk come soon. It’s important to use cocoa butter. It’s the key to more success,
                                why not live smooth? Why live rough? To be successful you’ve got to work hard, to make
                                history, simple, you’ve got to make it. How’s business? Boomin. How’s business? Boomin.
                                I’m up to something. Stay focused. Cloth talk. Let me be clear, you have to make it
                                through the jungle to make it to paradise, that’s the key, Lion!</p>

                            <h6><strong>Ohhh little guy. .</strong></h6>
                            <p>Ohhh little guy. The tears aren't coming. The tears just aren't coming. Look, you are
                                playing adults…with fully formed libidos, not 2 young men playing grab-ass in the
                                shower. Boy, I sure feel like a Mary without a Peter and a Paul. And although the
                                intervention didn't work, it turned into one of the Bluth family's better parties. I'm
                                tired of trying to find happiness through lies and self-medicating. If you need me, I'll
                                be at the bar. </p>-->
                            {{proyecto.long_desc[0].description}}
                        </div>

                        

                        <div class="tab-pane" id="extra" role="tabpanel">
                            <p><strong>I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly
                                    away from your feelings? I don't care if it takes from now till the end of
                                    Shrimpfest.</strong></p>

                            <h6><strong>Lorem Ipsum is not a major key to success. </strong></h6>
                            <p>I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Fan luv.
                                Always remember in the jungle there’s a lot of they in there, after you overcome they,
                                you will make it to paradise. Watch your back, but more importantly when you get out the
                                shower, dry your back, it’s a cold world out there. Every chance I get, I water the
                                plants, Lion! You see that bamboo behind me though, you see that bamboo? Ain’t nothin’
                                like bamboo. Bless up.</p>

                        </div>

                        <div class="tab-pane" id="settings" role="tabpanel">...</div>
                    </div>
                    <!--Fin contenido pestañas-->



                </div>
            </div>
        </div>

        <!--Inicia row (fila) de perfil y recompensas-->
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-11 offset-sm-1">

                    <!--Perfil creador-->
                    <div class="card">
                        <div class="card-block" class="pb-1">
                            <div class="row">
                                <div class="col-sm-11 pl-5 mt-4">
                                    <!--Se edito las dimensiones del cuadro-->

                                    <h4>Proyecto por</h4>

                                    <div class="row">
                                        <div class="col-sm-5 ">
                                            <a href=""><img src="https://randomuser.me/api/portraits/men/51.jpg"
                                                    class="img-fluid rounded-circle" /></a>
                                            <br />
                                            <br />
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="mb-0"><strong>{{user_data.firstName + ' ' + user_data.lastName}}</strong></h4>
                                            <p class="mt-0 mb-0">{{user_data.biography}}</p>
                                            <br />
                                            <br />
                                        </div>

                                    </div>


                                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Patrocinar este proyecto
                                    </button>
                                    <br>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="exampleModalLabel">
                                                        Seleccionar pack de contribución</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <ng-container *ngFor="let recompensa of proyecto.reward; let i = index">
                                                    <select class="custom-select">
                                                        <option value="{{recompensa.title}}">{{recompensa.title}} - ${{recompensa.min_amount}}</option>
                                                    </select>
                                                    </ng-container>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary">Patrocinar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal"
                                        data-target="#exampleModalColaborar">
                                        Colaborar con el proyecto
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalColaborar" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title text-center" id="exampleModalLabel">
                                                        Apoyo presencial</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="lead">Necesitamos conocer unas cosas sobre ti.</p>
                                                    <form>
                                                        <!--
                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput">Nombres</label>
                                                            <input type="text" class="form-control"
                                                                #collaboratorName="ngModel" pattern="[a-zA-Z\s]+" 
                                                                placeholder="Nombre" ngModel>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2">Apellidos</label>
                                                            <input type="text" class="form-control"
                                                                #collaboratorLastName="ngModel" pattern="[a-zA-Z\s]+" 
                                                                placeholder="Apellidos" ngModel>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2">Documento de
                                                                identidad</label>
                                                            <input type="text" class="form-control"
                                                                #collaboratorDNI="ngModel" pattern="[0-9]+" 
                                                                placeholder="DNI" ngModel>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="formGroupExampleInput2">Email</label>
                                                            <input type="text" class="form-control"
                                                                #collaboratorEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
                                                                placeholder="Email" ngModel>
                                                        </div>
                                                    -->
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary">Colaborar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <p>Este proyecto pide una colaboración de al menos ${{proyecto.monetary_goal}} hasta el
                                    {{proyecto.end_date | date: 'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin Perfil creador-->

                    <br />
                    <br />

                    <!--Recompensas-->
                    <h3>Recompensas</h3>
                    <hr />
                    <div id="accordion" role="tablist" aria-multiselectable="true">

                        <!--Inicio pestaña recompensa 1-->
                        <ng-container *ngFor="let recompensa of proyecto.reward; let i = index">
                            <div class="card">
                                <div class="card-header" role="tab" [attr.id]="'heading'+i">
                                    <!--data array en html tag-->
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse'+i"
                                            aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                                            Contribuir ${{recompensa.min_amount}} o más
                                        </a>
                                    </h6>
                                </div>

                                <div [attr.id]="'collapse'+i" class="collapse " role="tabpanel"
                                    [attr.aria-labelledby]="'heading'+i">
                                    <div class="card-block">
                                        <h5><strong>{{recompensa.title}}</strong></h5>
                                        <p>{{recompensa.description}}</p>
                                        
                                        <small class="text-muted">Envío a todo el mundo</small><br /><br />

                                        <a href="" class="btn btn-lg btn-primary btn-block">Seleccionar esta
                                            recompensa</a>

                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!--Fin pestaña-->

                    </div>
                    <!--Fin recompensas-->


                </div>
            </div>
        </div>
        <!--Fin row (fila) perfil y recompensas-->
    </div>
</div>