<div class="container inner my-5">
    <div class="row">
        <div class="col-sm-8">

            <div class="row">
                <div class="col-sm-12">
                    <div class="row">

                        <!--Avatar de usuario (el que visualiza)-->
                        <div class="col-sm-2">
                            <div class="avatar-me-wrapper"><span class="avatar-me">A</span></div>
                        </div>
                        <!--Fin avatar-->

                        <!--Primera parte de info proyecto-->
                        <div class="col-sm-10">
                            <h3>{{proyecto.titulo}}</h3>
                            <br />
                            <p class="mb-1">24% patrocinado</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>


                            <div class="row">
                                <div class="col-sm-6">
                                    <h3>${{proyecto.din_actual}}</h3>
                                    <p class="mb-1">patrocinado por {{proyecto.patrocinadores}} personas</p>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <h3>${{proyecto.meta}}</h3>
                                    <p class="mb-1">Meta de financiación</p>
                                </div>
                            </div>
                            <br />
                            <br />

                            <iframe width="100%" height="350" src="https://www.youtube.com/embed/Pwq89K6RBTI"
                                frameborder="0" allowfullscreen></iframe>
                        </div>
                        <!--Fin primera parte-->
                    </div>

                    <br />
                    <br />
                    
                    <!--Overview-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Resumen</a>
                                </li>

                                <!--Tags-->
                                <li class="nav-item" style="width: 50%">

                                    <span class="badge badge-pill badge-info float-sm-right"
                                        style="margin-left: 5px;margin-top: 5px;">Technology</span>
                                    <span class="badge badge-pill badge-danger float-sm-right"
                                        style="margin-left: 0px;margin-top: 5px;">Prototype Stage</span>

                                </li>
                                <!--Fin Tags-->

                            </ul>
                        </div>
                    </div>
                    <!--Fin overview-->


                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-4">
                            <a href=""><img class="img-fluid" src="https://unsplash.it/310/210?image=1"
                                    class="img-fluid" /></a>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam odio est, placerat nec
                                iaculis ut, sodales nec libero.
                                Quisque ac est quis velit pharetra sollicitudin. Mauris maximus, libero non fermentum
                                placerat, turpis nulla laoreet
                                sapien, ut cursus nisi metus et ligula. Integer semper porttitor condimentum. Sed
                                vulputate urna sapien, non feugiat
                                nulla tincidunt eu. Quisque aliquet quam sed libero consectetur mollis. Nunc id
                                hendrerit eros. In porta, urna sed
                                condimentum aliquam, felis orci vestibulum odio, et dictum risus libero at nisi.</p>
                        </div>
                    </div>

                    <br />
                    <br />

                    <!--Tablist (Lista pestañas - story, updates, extra )-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" active href="#home" role="tab">Historia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#updates" role="tab">Actualizaciones (3)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#extra" role="tab">Extra (40)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#backers" role="tab">Dashers (797)</a>
                        </li>
                    </ul>
                    <!--Fin tabList-->

                    <br />
                    <br />

                    <!-- Contenido pestañas-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <p><strong>I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly
                                    away from your feelings? I don't care if it takes from now till the end of
                                    Shrimpfest.</strong></p>

                            <h6><strong>Lorem Ipsum is not a major key to success. </strong></h6>
                            <p>I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Fan luv.
                                Always remember in the jungle there’s a lot of they in there, after you overcome they,
                                you will make it to paradise. Watch your back, but more importantly when you get out the
                                shower, dry your back, it’s a cold world out there. Every chance I get, I water the
                                plants, Lion! You see that bamboo behind me though, you see that bamboo? Ain’t nothin’
                                like bamboo. Bless up.</p>

                            <h6><strong>Hammock talk come soon. </strong></h6>
                            <p>Hammock talk come soon. It’s important to use cocoa butter. It’s the key to more success,
                                why not live smooth? Why live rough? To be successful you’ve got to work hard, to make
                                history, simple, you’ve got to make it. How’s business? Boomin. How’s business? Boomin.
                                I’m up to something. Stay focused. Cloth talk. Let me be clear, you have to make it
                                through the jungle to make it to paradise, that’s the key, Lion!</p>

                            <h6><strong>Ohhh little guy. .</strong></h6>
                            <p>Ohhh little guy. The tears aren't coming. The tears just aren't coming. Look, you are
                                playing adults…with fully formed libidos, not 2 young men playing grab-ass in the
                                shower. Boy, I sure feel like a Mary without a Peter and a Paul. And although the
                                intervention didn't work, it turned into one of the Bluth family's better parties. I'm
                                tired of trying to find happiness through lies and self-medicating. If you need me, I'll
                                be at the bar. </p>
                        </div>

                        <div class="tab-pane" id="updates" role="tabpanel">
                            <div class="card mb-4">
                                <div class="card-block">
                                    <h5 class="card-title">We made it!!!</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">March 16</h6>
                                    <p class="card-text"><b>We did it! In less than 3 days (52 hours to be exact!) we
                                            hit our minimum funding goal.</b> I seriously can’t believe it. Nunc id
                                        hendrerit eros. In porta, urna sed condimentum aliquam, felis orci vestibulum
                                        odio, et dictum risus libero at nisi.</p>
                                    <a href="#" class="card-link">Read more</a>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-block">
                                    <h5 class="card-title">The Mid-Campaign March + 300 Backers!</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">March 7</h6>
                                    <p class="card-text">Within the last 24 hours, our campaign has surpassed <b>300
                                            backers and $35,000</b>! THANK YOU to everyone who has graciously donated to
                                        our campaign over the past two weeks....</p>
                                    <a href="#" class="card-link">Read more</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h5 class="card-title">Wow! 50% funded... in the first 9 hours???</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">March 7</h6>
                                    <p class="card-text">Within the last 9 hours, our campaign has made 50% of what we
                                        set out to reach. Thanks so much guys!!! Nunc id hendrerit eros. In porta, urna
                                        sed condimentum aliquam, felis orci vestibulum odio, et dictum risus libero at
                                        nisi.</p>
                                    <a href="#" class="card-link">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane active" id="extra" role="tabpanel">
                                <p><strong>I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly
                                        away from your feelings? I don't care if it takes from now till the end of
                                        Shrimpfest.</strong></p>
    
                                <h6><strong>Lorem Ipsum is not a major key to success. </strong></h6>
                                <p>I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth. Fan luv.
                                    Always remember in the jungle there’s a lot of they in there, after you overcome they,
                                    you will make it to paradise. Watch your back, but more importantly when you get out the
                                    shower, dry your back, it’s a cold world out there. Every chance I get, I water the
                                    plants, Lion! You see that bamboo behind me though, you see that bamboo? Ain’t nothin’
                                    like bamboo. Bless up.</p>
    
                            </div>
                        
                        <div class="tab-pane" id="settings" role="tabpanel">...</div>
                    </div>
                    <!--Fin contenido pestañas-->



                </div>
            </div>
        </div>

        <!--Inicia row (fila) de perfil y recompensas-->
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-11 offset-sm-1">

                    <!--Perfil creador-->
                    <div class="card">
                        <div class="card-block" class="pb-1">
                            <div class="row">
                                <div class="col-sm-11 pl-5 mt-4"> <!--Se edito las dimensiones del cuadro-->

                                    <h4>Proyecto por</h4>

                                    <div class="row">
                                        <div class="col-sm-5 ">
                                            <a href=""><img src="https://randomuser.me/api/portraits/men/51.jpg"
                                                    class="img-fluid rounded-circle" /></a>
                                            <br />
                                            <br />
                                        </div>
                                        <div class="col-sm-6">
                                            <h4 class="mb-0"><strong>{{proyecto.autor}}</strong></h4>
                                            <p class="mt-0 mb-0">La Victoria, Lima</p>
                                            <p class="mt-0 mb-0">5 proyectos</p>
                                            <br />
                                            <br />
                                        </div>

                                    </div>
                                    <a href="" class="btn btn-lg btn-primary btn-block">Patrocinar este proyecto</a><br />
                                    <a href="" class="btn btn-lg btn-warning btn-block">Colaborar con el proyecto</a><br />
                                    <p>This project will only be funded if at least $15,000 is pledged by Wednesday May
                                        8, 3:00pm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin Perfil creador-->

                    <br />
                    <br />

                    <!--Recompensas-->
                    <h3>Recompensas</h3>
                        <hr />
                        <div id="accordion" role="tablist" aria-multiselectable="true">

                            <!--Inicio pestaña recompensa 1-->
                            <ng-container *ngFor="let recompensa of proyecto.recompensas; let i = index">
                            <div class="card">
                                <div class="card-header" role="tab" [attr.id]="'heading'+i"> <!--data array en html tag-->
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapse'+i"
                                            aria-expanded="false" [attr.aria-controls]="'collapse'+i">
                                            Contribuir ${{recompensa.cantidad}} o más
                                        </a>
                                    </h6>
                                </div>

                                <div [attr.id]="'collapse'+i" class="collapse " role="tabpanel" [attr.aria-labelledby]="'heading'+i">
                                    <div class="card-block">
                                        <h5><strong>{{recompensa.titulo}}</strong></h5>
                                        <p>{{recompensa.descrip}}</p>
                                        <p>Incluye:</p>
                                        <ul>
                                            <li>Item 1</li>
                                            <li>Item 2</li>
                                        </ul>
                                        <small class="text-muted">{{recompensa.reclamados}} obtenidos</small><br />
                                        <small class="text-muted">Envío a {{recompensa.envio}}</small><br /><br />

                                        <a href="" class="btn btn-lg btn-primary btn-block">Seleccionar esta recompensa</a>

                                    </div>
                                </div>
                            </div>
                            </ng-container>
                            <!--Fin pestaña-->

                        </div>
                        <!--Fin recompensas-->


                </div>
            </div>
        </div>
        <!--Fin row (fila) perfil y recompensas-->
    </div>
</div>