<!--Login pop-up-->
<div class="modal fade login-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="background: transparent; border: none;">

            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12  pull-right">
                                <h4 style="color: #fff; font-weight: 100;">Login</h4>
                                <a href="#" data-dismiss="modal" style="position: absolute; top: 0; right: 0;"><i
                                        class="icon-close icons" aria-hidden="true"
                                        style="color: #fff; font-size: 26px"></i></a>
                                <div class="card mt-3" style="background: #fff; padding: 10px">
                                    <h6 style="color: #000;font-weight: 100;">¿Posees una cuenta?</h6>
                                    <p>Logueate para continuar.</p><br />
                                    <form>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" id="inputEmail3"
                                                    placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <input type="password" class="form-control" id="inputPassword3"
                                                    placeholder="Contraseña">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2"></label>
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">Recuerdame
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <br /><br />
                                        <div class="form-group row">
                                            <div class="offset-sm-3 col-sm-6 text-center">
                                                <a href="account-dashboard.html" class="btn btn-primary btn-block">Ingresar</a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-8 text-center">
                                                <a href="" class="mt-2">¿Olvidaste tu contraseña?</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Register pop-up-->
<div class="modal fade signup-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent; border: none;">

            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-11 col-sm-12">
                                <h4 style="color: #fff; font-weight: 100;">Registrarse</h4>
                                <a href="#" data-dismiss="modal" style="position: absolute; top: 0; right: 0;"><i
                                        class="icon-close icons" aria-hidden="true"
                                        style="color: #fff; font-size: 26px"></i></a>

                                <div class="card  mt-3" style="background: #fff; padding: 10px">
                                    <h6 style="color: #000">¿Nuevo en StartDash?</h6>
                                    <p>Necesitas crear una cuenta para acceder a nuestros servicios.</p>

                                    <form role="form">
                                        <div class="form-group">
                                            <input type="email" class="form-control " placeholder="Email">
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Nombres">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Apellidos">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="password" class="form-control" placeholder="Contraseña">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input type="password" class="form-control"
                                                        placeholder="Confirmar contraseña">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <br /><br />
                                            <p>Al presionar el botón "Crear cuenta", aceptas nuestros términos y condiciones.
                                            </p>
                                            <a href="account-dashboard.html" class="btn btn-primary">Crear cuenta</a><br /><br />
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>