<div class="col-sm-12">
    <h1>Agrega una cuenta bancaria</h1>
    <p>Proporciona información adicional sobre tu persona y tus datos bancarios, si tu proyecto se financia con éxito.
    </p>

    <form>

        <!--Correo confirm-->
        <div class="form-group light-blue">

            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Correo electrónico de contacto</label>
                <div class="col-9">
                    <input class="form-control" type="email" placeholder="test@example.com" id="example-search-input">
                </div>
            </div>
        </div>
        <!--Fin correo-->


        <div class="form-group light-blue">
            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Destinatario de los fondos</label>
                <div class="col-9">
                    <select class="form-control custom-select">
                        <option value="1">Individual</option>
                        <option value="2">Empresa</option>
                    </select>
                    <p class="mt-1">Ingresa la información del individuo o entidad legal que administra este proyecto.
                    </p>
                    <p class="mt-1">Si administras este proyecto como una entidad legal, algún integrante de la
                        organización debe completar esta sección.
                    </p>
                </div>
            </div>
        </div>

        <!--Cuenta bancaria-->
        <div class="form-group light-blue">

            <div class="form-group row">
                <label for="example-text-input" class="col-3 col-form-label">Cuenta bancaria</label>
                <div class="col-9">
                    <p class="mt-1">Agrega información de la cuenta bancaria perteneciente a la persona o entidad que
                        administra el proyecto y recibe los fondos (si el proyecto se financia con éxito).
                    </p>

                    <p class="mt-1">Para recibir fondos, esta cuenta debe ser una cuenta corriente que admita
                        transferencias en
                        papel o electrónicas (no giros bancarios), depósitos directos y estar ubicada en Alemania.</p>

                    <p class="mt-1">Ingresa esta información cuidadosamente y vuelve a verificarla con tu banco. No se
                        podrá cambiar
                        una vez publicada y es posible que no podamos ayudarte si los fondos se envían a la cuenta
                        incorrecta.</p>


                    <div class="row">
                        <div class="col-12">

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Nombre</button>
                                </span>
                                <input type="text" class="form-control" placeholder="Nombres">
                                <input type="text" class="form-control" placeholder="Apellidos">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-2 col-form-label">Fecha de nacimiento</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" value="" id="example-date-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-block p-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <p>Dirección de dueño</p>
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" placeholder="Dirección">
                                            <input type="text" class="form-control" placeholder="Ciudad">
                                            <input type="text" class="form-control"
                                                placeholder="Codigo postal/ZIP code">
                                            <input type="text" class="form-control" placeholder="Perú">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                </div>
            </div>
        </div>
        <!--Fin cuenta bancaria-->

    </form>
</div>