<div class="container-fluid my-5">
    <h3 class="text-center">Primero hay que definir tu proyecto.</h3>
    <p class="lead text-center">Llena estos datos puntuales sobre tu proyecto antes de comenzar
        con el proceso.
    </p>
    <hr>

    <div class="row">

        <div class="col-8 mx-auto">

            <form #formBeforePro="ngForm" (ngSubmit)="onCreateB(formBeforePro)">

                <!--Titulo-->
                <div class="form-group my-3">
                    <label for="projectTitle">Título del proyecto</label>
                    <input type="text" #projectTitle="ngModel" name="title" class="form-control form-control-lg"
                        placeholder="Titulo" pattern="[a-zA-Z0-9\s]+" ngModel>
                    <p class="form-text text-muted">
                        Escribe un título claro y conciso que ayude a las personas a comprender rápidamente la esencia
                        de tu
                        proyecto.
                    </p>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="projectTitle.touched && !projectTitle.valid">
                    <div *ngIf="!projectTitle.valid">No se permiten caracteres especiales como /, -, $, !, etc.</div>
                </div>
                <!--Fin titulo-->

                <!--Descripción corta-->
                <div class="form-group my-4">
                    <label for="projectSdesc">Descripción corta</label>
                    <textarea #projectSdesc="ngModel" name="shortDescription" class="form-control form-control-lg" rows="3"
                        pattern="[a-zA-Z0-9\s]+" ngModel></textarea>
                    <p id="projectSdesc" class="form-text text-muted">
                        Ofrece una pequeña descripción de lo que estás haciendo.
                    </p>
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="projectSdesc.touched && !projectSdesc.valid">
                    <div *ngIf="!projectSdesc.valid">No se permiten caracteres especiales como /, -, $, !, etc.</div>
                </div>
                <!--Fin descripcion corta-->

                <!--Categoria y sub-->
                <div class="form-group my-4">
                    <label for="categorySelectBox">Categoría</label>
                    <div class="row">
                        <div class="col-6">
                            <select name="category" id="categorySelectBox" class="form-control custom-select" ngModel>

                                <option value="Arte">Arte</option>

                                <option value="Comics">Comics</option>

                                <option value="Hazlo tu mismo">Hazlo tu mismo</option>

                                <option value="Baile">Baile</option>

                                <option value="Diseño">Diseño</option>

                                <option value="Moda">Moda</option>

                                <option value="Peliculas">Peliculas &amp; Video</option>

                                <option value="Comida">Comida</option>

                                <option value="Juegos">Juegos</option>

                                <option value="Periodismo">Periodismo</option>

                                <option value="Musica">Musica</option>

                                <option value="Fotografia">Fotografía</option>

                                <option value="Publicaciones">Publicaciones</option>

                                <option value="Tecnologìa">Tecnología</option>

                                <option value="Teatro">Teatro</option>

                            </select>
                        </div>
                    </div>
                </div>
                <!--Fin categoria y sub-->

                <!--Pais de proyecto-->
                <div class="form-group my-4">
                    <label for="projectUbication">Ubicación del proyecto</label>
                    <div class="input-group  input-group-lg">
                        <input type="text" #projectUbication="ngModel" name="ubication" class="form-control"
                            placeholder="Empieza a escribir tu ubicación..." pattern="[a-zA-Z\s,]+" ngModel>
                    </div>
                </div>

                <div class="alert alert-danger" role="alert"
                    *ngIf="projectUbication.touched && !projectUbication.valid">
                    <div *ngIf="!projectUbication.valid">No se permiten caracteres especiales como /, -, $, !, etc. ,
                        ni números.
                    </div>
                </div>
                <!--Fin pais-->

                <button type="submit" class="btn btn-lg btn-primary btn-block col-4 mx-auto">Empezar proyecto</button>

            </form>

        </div>

    </div>

</div>