<div class="col-sm-12">
    <h1>Agrega tus recompensas</h1>
    <p>Ofrece recompensas simples y significativas que acerquen a los patrocinadores a tu proyecto. Las recompensas no
        tienen que ser artículos materiales. Podrían ser experiencias especiales o vistazos tras bambalinas de tu
        proyecto.</p>


    <form>
        <div class="form-group light-blue">
            <div class="row">
                <div class="col-md-3"><strong>Recompensa #1</strong><br>
                </div>
                <div class="col-md-9">

                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Titulo</label>
                        <div class="col-9">
                            <input class="form-control" type="text" value="" placeholder="Ejm: Edición limitada firmada"
                                id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-3 col-form-label">Monto de contribución</label>
                        <div class="col-9">
                            <input class="form-control" type="text" value="1" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-3 col-form-label">Descripción</label>
                        <div class="col-9">
                            <textarea class="form-control" rows="6" type="text" value=""
                                id="example-email-input"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-url-input" class="col-3 col-form-label">Entrega&nbsp;aproximada</label>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="YYYY/MM/DD" value=""
                                id="example-url-input">
                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label for="example-tel-input" class="col-3 col-form-label">Cantidad de la recompensa</label>
                        <div class="col-9">
                            <select class="form-control custom-select">
                                <option value="1">Ilimitada</option>
                                <option value="2">50+</option>
                                <option value="3">100+</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </form>
    <button type="button" class="btn btn-dark float-sm-right">Añadir otra recompensa</button>
    <p></p>

</div>