<div class="col-sm-12">
    <h1>Agrega tus recompensas</h1>
    <p>Ofrece recompensas simples y significativas que acerquen a los patrocinadores a tu proyecto. Las recompensas no
        tienen que ser artículos materiales. Podrían ser experiencias especiales o vistazos tras bambalinas de tu
        proyecto.</p>


    <form>
        <div class="form-group light-blue">
            <div class="row">
                <div class="col-md-3"><strong>Recompensa #</strong><br>
                </div>
                <div class="col-md-9">

                    <!--Titulo-->
                    <div class="form-group row">
                        <label for="rewardTitle" class="col-3 col-form-label">Titulo</label>
                        <div class="col-9">
                            <input type="text" #rewardTitle="ngModel" name="title" class="form-control"
                                placeholder="Ejm: Edición limitada firmada" pattern="[a-zA-Z0-9\s]+" ngModel>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="rewardTitle.touched && !rewardTitle.valid">
                        <div *ngIf="!rewardTitle.valid">No se permiten caracteres especiales como /, -, $, !, etc.</div>
                    </div>
                    <!--Fin titulo-->

                    <!--Contribucion-->
                    <div class="form-group row">
                        <label for="min_amount" class="col-3 col-form-label">Monto de contribución</label>
                        <div class="col-9">
                            <input type="text" #min_amount="ngModel" name="min_amount" class="form-control"
                                pattern="[0-9]+" ngModel>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="min_amount.touched && !min_amount.valid">
                        <div *ngIf="!min_amount.valid">Sólo se permite el ingreso de números, no letras ni espacios.
                        </div>
                    </div>
                    <!--Fin contribucion-->

                    <!--Descripción-->
                    <div class="form-group row">
                        <label for="longDesc" class="col-3 col-form-label">Descripción</label>
                        <div class="col-9">
                            <textarea type="text" #longDesc="ngModel" name="longDesc" class="form-control" rows="6"
                                pattern="[a-zA-Z0-9\s]+" ngModel></textarea>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="longDesc.touched && !longDesc.valid">
                        <div *ngIf="!longDesc.valid">No se permiten caracteres especiales como /, -, $, !, etc.</div>
                    </div>
                    <!--Fin descripción-->

                    <!--<div class="form-group row">
                        <label for="example-url-input" class="col-3 col-form-label">Entrega&nbsp;aproximada</label>
                        <div class="col-9">
                            <input class="form-control" type="text" placeholder="YYYY/MM/DD" value=""
                                id="example-url-input">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="example-tel-input" class="col-3 col-form-label">Cantidad de la recompensa</label>
                        <div class="col-9">
                            <select class="form-control custom-select">
                                <option value="1">Ilimitada</option>
                                <option value="2">50+</option>
                                <option value="3">100+</option>
                            </select>
                        </div>
                    </div>-->

                </div>
            </div>

        </div>


    </form>
    <button type="button" class="btn btn-dark float-sm-right">Añadir otra recompensa</button>
    <p></p>

</div>