<div class="container-fluid my-5">
    <h3>{{categoria}}</h3>
    <h5>
        <p class="lead">{{proyectos.length}} proyectos en está categoría</p>
    </h5>
    <hr>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <ng-container *ngFor="let proyecto of proyectos">
                    <!--Card-->
                    <div class="col-md-4 col-lg-3 mb-5 my-2">
                        <div class="card h-100" style="width: 12rem;">
                            <!--style="width: 18rem;" para que quepa todo-->
                            <img class="card-img-top" src="{{proyecto.image.imageURL}}" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title"><a routerLink="/project/{{proyecto._id}}">{{proyecto.title}}</a>
                                </h6>
                                <p class="text-muted">Por <strong><a routerLink="/project/{{proyecto._id}}"
                                            class="text-muted">{{proyecto.autor}}</a></strong>
                                </p>
                                <p class="card-text">{{proyecto.short_desc}}</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 76%" aria-valuenow="76"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-1">{{proyecto.percentage}}% patrocinado</p>
                            </div>

                        </div>
                    </div>
                    <!--Fin Card-->
                </ng-container>
            </div>
        </div>
        <div class="col-3">
            <h4>Categorías</h4>
            <hr>
            <ul class="list-group my-4">
                    <li class="list-group-item"><a (click)="getCategory('Arte')" routerLink="/category/Arte">Arte</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Comics')" routerLink="/category/Comics">Comics</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Solo')" routerLink="/category/Solo">Hazlo tu mismo</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Baile')" routerLink="/category/Baile">Baile</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Diseño')" routerLink="/category/Diseño">Diseño</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Moda')" routerLink="/category/Moda">Moda</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Peliculas')" routerLink="/category/Peliculas">Peliculas y video</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Comida')" routerLink="/category/Comida">Comida</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Juegos')" routerLink="/category/Juegos">Juegos</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Periodismo')" routerLink="/category/Periodismo">Periodismo</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Musica')" routerLink="/category/Musica">Música</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Fotografia')" routerLink="/category/Fotografia">Fotografía</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Publicaciones')" routerLink="/category/Publicaciones">Publicaciones</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Tecnologia')" routerLink="/category/Tecnologia">Tecnología</a></li>
                    <li class="list-group-item"><a (click)="getCategory('Teatro')" routerLink="/category/Teatro">Teatro</a></li>

            </ul>
        </div>


    </div>